<h1>A Burgerama</h1>

<h2>What would you like to devour?</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> cats/cat-block devoured=false}}
      {{burger_name}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured</h2>

<ul>
  {{#each cats}}
    {{#if devoured}}
        {{burger_name}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <button type="submit">Submit</button>
</form>
