header {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    width: fit-content;
  }
  
  .label {
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

body {
    background-image: url("/assets/img/burgerTime.png");
    color: hsl(337, 89%, 42%);
    text-shadow: 2px 1px rgb(240, 236, 14);
}

.wrapper {
  display: flex;
}

#left {
  flex: 0 0 65%;
}

#right {
  flex: 1;
}

